*~
*.class
*.o
monitor/dist/
qd_library-master_withoutelimination/examples/stack/counter_qd1_1024
qd_library-master_withoutelimination/examples/stack/counter_qd1_128
qd_library-master_withoutelimination/examples/stack/counter_qd1_256
qd_library-master_withoutelimination/examples/stack/counter_qd1_512
qd_library-master_withoutelimination/examples/stack/counter_qd2_1024
qd_library-master_withoutelimination/examples/stack/counter_qd2_128
qd_library-master_withoutelimination/examples/stack/counter_qd2_256
qd_library-master_withoutelimination/examples/stack/counter_qd2_512
qd_library-master_withoutelimination/examples/stack/counter_qd4_1024
qd_library-master_withoutelimination/examples/stack/counter_qd4_128
qd_library-master_withoutelimination/examples/stack/counter_qd4_256
qd_library-master_withoutelimination/examples/stack/counter_qd4_512
qd_library-master_withoutelimination/examples/stack/counter_qd5
qd_library-master_withoutelimination/examples/stack/counter_qd8_1024
qd_library-master_withoutelimination/examples/stack/counter_qd8_128
qd_library-master_withoutelimination/examples/stack/counter_qd8_256
qd_library-master_withoutelimination/examples/stack/counter_qd8_512
qd_library_withelimination/examples/stack/counter_qd1_1024
qd_library_withelimination/examples/stack/counter_qd1_128
qd_library_withelimination/examples/stack/counter_qd1_256
qd_library_withelimination/examples/stack/counter_qd1_512
qd_library_withelimination/examples/stack/counter_qd2_1024
qd_library_withelimination/examples/stack/counter_qd2_128
qd_library_withelimination/examples/stack/counter_qd2_256
qd_library_withelimination/examples/stack/counter_qd2_512
qd_library_withelimination/examples/stack/counter_qd4_1024
qd_library_withelimination/examples/stack/counter_qd4_128
qd_library_withelimination/examples/stack/counter_qd4_256
qd_library_withelimination/examples/stack/counter_qd4_512
qd_library_withelimination/examples/stack/counter_qd8_1024
qd_library_withelimination/examples/stack/counter_qd8_128
qd_library_withelimination/examples/stack/counter_qd8_256
qd_library_withelimination/examples/stack/counter_qd8_512
